@font-face {
    font-family: OpenSans-Regular, sans-serif;
    src: url("assets/fonts/OpenSans/static/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
    font-family: OpenSans-Bold, sans-serif;
    src: url("assets/fonts/OpenSans/static/OpenSans/OpenSans-Bold.ttf");
}
@font-face {
    font-family: OpenSans-Italic, sans-serif;
    src: url("assets/fonts/OpenSans/static/OpenSans/OpenSans-Italic.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth; 
}

body {
    font-size: 18px;
    font-family: OpenSans-Regular, sans-serif;
    line-height: 1.5;
    color: #170404;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    border: 1px solid red;
}

footer {
    border: 1px solid red;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}

.nav-list {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    font-size: 18px;
    list-style: none;
    padding: 0px 6px;
}

.nav-link {
    padding: 0 10px;
    line-height: 50px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #fff200;
}

.nav-item:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    position: relative;
    margin: 0.5em 0;
    font-family: OpenSans-Bold;
    font-size: 20px;
    letter-spacing: 5px;
    color: navy;
    text-transform: uppercase;
}

.main-title {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 0.5em;
    text-transform: uppercase;
}

.main-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -70px;
    width: 140px;
    height: 1px;
    background-color: #170404;
}

.section {
    width: 50%;
}

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
}

@media (max-width: 1440px) {
    .main-container {
        padding: 0 20px;
    }
}

.section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 15px solid black;
}

.section-profile-logo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
    filter: grayscale(0.2) brightness(1.05);
    transition: .3s;
    margin-right: 10px;
}

.section-profile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.contacts-item {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 30px;
    list-style-type: none;
}

.contacts-item a, .courses-item a {
    text-decoration: none;
    color: #7d4e4e;
    transition: color 0.5s;
}

.contacts-item a:hover {
    color: #170404;
}

.contacts-item:nth-child(1):before {
    left: 2px;
    background-image: url(assets/img/Icons/map-icon.svg);
}

.contacts-item:nth-child(2):before {
    top: 3px;
    left: 3px;
    width: 21px;
    height: 21px;
    background-image: url(assets/img/Icons/email-icon.svg);
}

.contacts-item:nth-child(3):before {
    top: 3px;
    left: 5px;
    width: 19px;
    height: 19px;
    background-image: url(assets/img/Icons/github-icon.svg);
}

.contacts-item:nth-child(4):before {
    top: 3px;
    left: 3px;
    width: 21px;
    height: 21px;
    background-image: url(assets/img/Icons/telegram-icon.svg);
}

.contacts-item:nth-child(5):before {
    left: 3px;
    background-image: url(assets/img/Icons/discord-icon.svg);
}

.contacts-item:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0px;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}

.contacts-list {
    font-size: 18px;
}

.summary-heading {
    font-size: 18px;
    margin-bottom: 5px;
}

.summary-text {
    margin-bottom: 10px;
}

.skills-list, .courses-list {
    list-style: none;
}

.skill {
    color: #7d4e4e;
}

.skills-container, .courses-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.my-coding-solution {
    margin-top: 10px;
}

